certifi==2024.8.30
charset-normalizer==3.3.2
configparser==3.5.0b1
Flask==0.10.1
Flask-BasicAuth==0.2.0
future==1.0.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.32.3
urllib3==2.2.2
Werkzeug==3.0.4
